.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

a {
  color: skyblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 100%;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 16px;
}

html, body {
  height: 100%;
  background-color: #0e0e0e;
}

#root {
  height: 100%;
}

.thetime {
  font-size: 8vw;
}

@media only screen and (max-width: 600px) {
  .thetime {
    font-size: 13vw;
  }
}

.thedate {
  color: orange;
}

.tiny {
  font-size: smaller;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 3rem;
}

h3 {
  color: white;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}